<!DOCTYPE html>
<html>
<head>
        <title>Post-patching Windows Report - {{ HOSTS }} - {{ date }}</title>

        <meta charset="UTF-8">
        <meta name="author" content="Jakub Wosko (a586404)">

        <style>
        /* Style the header */
        header {
                background-color: #666;
                padding: 5px;
                text-align: center;
                font-size: 35px;
                color: white;
        }

        article {
                padding: 20px;
        }
        div {
                        padding: 10px;
        }
        table {
                border-collapse: collapse;
                text-align: center;
                margin: 0px auto;
        }
        table, th, tr, td {
                border: 1px solid black;
        }
        td, th {
                padding: 5px;
        }
        tr:hover {background-color: #f5f5f5;}
        th {
                background-color: #4CAF50;
        }
        .info th {
                background-color: #F0F1E9;
        }
        .info {
                margin-bottom: 20px;
                font-size: 25px;
        }
        #OK {
                background-color: #00D600;
        }
        #NotOK {
                background-color: red;
        }
        .legend {
                width: 570px;
                margin: auto;
                font-size: 12px
        }

        /* Style the footer */
        footer {
                background-color: #777;
                padding: 5px;
                text-align: left;
                color: white;
        }
        </style>
</head>
<body>
<header>
        <h1 align="center">Windows post-patching report</h1>
</header>

<article>
        <div class="info">
                <table>
                        <tr>
                                <th>Execution Time</th>
                                <th>Customer</th>
                                <th>Machines Group Name</th>
                                <th>Number of machines</th>
                        </tr>
                        <tr>
                                <td>{{ fulldate }}</td>
                                <td>{{ customer }}</td>
                                <td>{{ HOSTS }}</td>
                                <td>{{ HOSTS_COUNT }}</td>
                        </tr>
                </table>
        </div>
        <div>
                <h2 align="center">WSUS repository status</h2>
                <table>
                        <tr>
                                <th>WSUS hostname</th>
                                <th>Last successful synchronization time</th>
                        </tr>
                        <tr>
                                <td>{{ groups.wsus[0] }}</td>
                                <td>{{ WsusSync.stdout | string }}</td>
                        </tr>
                </table>
        </div>
        <div>
                <h2 align="center">Patching summary</h2>
                <table>
                        <tr>
                                <th>Index</td>
                                <th>Host name</th>
                                <th>OS name</th>
                                <th>Available patches</th>
                                <th>Successfully installed patches</th>
                                <th>Failed patches</th>
                                <th>Status</th>
                        </tr>
                        {% for host in ansible_play_batch %}
                        <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ host }}</td>
                                <td>{{ hostvars[host]['ansible_facts'].distribution }}</td>
                                <td>{{ hostvars[host]['result'].found_update_count }}</td>
                                <td>{{ hostvars[host]['result'].installed_update_count | default(0) }}</td>
                                <td>{{ hostvars[host]['result'].failed_update_count | default(0) }}</td>
                                {%     set fup = hostvars[host]['result'].found_update_count | int | default(0) %}
                                {%     set iup = hostvars[host]['result'].installed_update_count | int | default(0) %}
                                {% if iup == fup %}
                                  {% set state = "OK" %}
                                {% else %}
                                  {% set state = "NotOK" %}
                                {% endif %}
                                <td id="{{ state }}">{{ state }}</td>
                        </tr>
                        {% endfor %}
                </table>
        </div>
        <div class="legend">
                <h3 align="center">Legend</h3>
                <p>
                   <b>Machines Group Name</b> - Ansible Tower group containing host names against which the patching has been executed<br>
                   <b>Available patches</b> - number of all security patches needed by the server<br>
                   <b>Successfully Installed patches</b> - number of patches successfully installed on the server at the execution time<br>
                   <b>Failed patches</b> - number of patches failed on the server at the execution time
                </p>
        </div>
</article>

<footer>
        This report was generated by Ansible Tower.
</footer>

</body>
</html>

